body {
    margin: auto;
    padding: auto;
    background:rgb(226, 225, 225);
    width: 100%;
}

header {
    margin-top: -20px;
    background: rgb(30, 46, 53);
    height: 130px;
    text-align: center;
    width: 100%;
}
header li {
    display: inline-block;
    width: 20%;
    font-family: fantasy, sans-serif;
    padding-top: 70px;
    font-size: 20px;
}
header li:hover {
    padding-top: 30px;
    font-size: 30px;
}
header li:last-child {
    margin-right: 35px;
}
header a {
    color: white;
}

@media (min-width:320px) and (max-width: 425px) {
    header {
        height: 100px;
        

    }
    header li {
        font-size: 12px;
        margin: auto;
        font-family: 'Times New Roman', Times, serif;
    }
    header li:hover {
        font-size: 17px;
    }
}


.image {
    position: relative;
}
.firstpic {
    height: 1000px;
    width: 100%;
}
.secondpic {
    width: 40%;
    float: right;
    margin-right: 130px;
    margin-top: 100px;
    border-radius: 30px;
    filter: drop-shadow(0 0 100px rgb(7, 7, 7));
}
.title {
    text-align: center;
}

.sentence {
    text-align: center;
} 

.no1 {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 5px;
    position: absolute;
    top: 50px;
    left: 100px;
    line-height: 90px;
}

.title1 {
    margin-top: 300px;
    margin-bottom: 350px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    letter-spacing: 7px;
}
.no2 {
    letter-spacing: 5px;
    font-size: 20px;
    font-family: fantasy;
    position: absolute;
    margin-left: 100px;
    line-height: 80px;
    width: 60%;


}

@media (min-width:320px) and (max-width: 425px) {
    .firstpic {
        height: 550px;
    }
    .image {
        position: relative;
    }
    .sentence {
        margin: auto;
    }
    .secondpic {
        margin-right: 30px;
        margin-top: 250px;
        width: 60%;
    }
    .no1 {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        top: 15px;
        left: 20px;
        letter-spacing: none;
        line-height: 25px;
        position: absolute;
    }
    .title1 {
        font-size: 22px;
        letter-spacing: 5px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 80%;
    }
    .no2 {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: none;
        line-height: 38px;
        position: absolute;
        margin-left: 30px;
    }
}


footer {
    margin-top: 1300px;
    text-align: center;
    background: rgb(30, 46, 53);
    color: white;
    height: 150px;
    line-height: 150px;
}
@media (min-width:320px) and (max-width: 425px) {
    footer {
        height: 100px;
        line-height: 100px;
        margin-top: 650px;
    }

}
