body {
    margin: auto;
    padding: auto;
    background:rgb(226, 225, 225);
    width: 100%;
}

header {
    margin-top: -20px;
    background: rgb(30, 46, 53);
    height: 130px;
    text-align: center;
    width: 100%;
}
header li {
    display: inline-block;
    width: 20%;
    font-family: fantasy, sans-serif;
    padding-top: 70px;
    font-size: 20px;
}
header li:hover {
    padding-top: 30px;
    font-size: 30px;
}
header li:last-child {
    margin-right: 35px;
}
header a {
    color: white;
}

@media (min-width:320px) and (max-width: 425px) {
    header {
        height: 100px;
        

    }
    header li {
        font-size: 12px;
        margin: auto;
        font-family: 'Times New Roman', Times, serif;
    }
    header li:hover {
        font-size: 17px;
    }
}


.image {
    position: relative;
}
.firstpic {
    height: 1000px;
    width: 100%;
}
.secondpic {
    width: 40%;
    float: right;
    margin-right: 130px;
    margin-top: 100px;
    border-radius: 30px;
    filter: drop-shadow(0 0 100px rgb(7, 7, 7));
    opacity: 0.6;
}
.secondpic:hover {
    opacity: 1.0;
}
.title {
    text-align: center;
}

.sentence {
    text-align: center;
} 

.no1 {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 5px;
    position: absolute;
    top: 50px;
    left: 100px;
    line-height: 90px;
}

.title1 {
    margin-top: 300px;
    margin-bottom: 350px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    letter-spacing: 7px;
}
.no2 {
    letter-spacing: 5px;
    font-size: 20px;
    font-family: fantasy;
    position: absolute;
    margin-left: 100px;
    line-height: 80px;
    width: 60%;
}
.destinations {
    text-align: center;
    letter-spacing: 6px;
    font-size: 40px;
    position: absolute; 
    top: 2800px;
    left: 360px;
}
.map {
    position: absolute; 
    top: 2900px;
    left: 450px;
}
.location {
    position: absolute; 
    top: 2900px;
    left: 880px;
}
.fa {
    margin-top: 120px;
    margin-right: 40px;
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-size: 50px;
}
.fa-map-marker:hover {
    color: rgb(247, 52, 52);
}
.fa-location-arrow:hover {
    color: rgb(53, 53, 243);
}

.go {
    font-size: 24px;
}

@media (min-width:320px) and (max-width: 425px) {
    .firstpic {
        height: 550px;
    }
    .image {
        position: relative;
    }
    .sentence {
        margin: auto;
    }
    .secondpic {
        margin-right: 30px;
        margin-top: 250px;
        width: 60%;
        opacity: 1.0;
    }
    .secondpic:hover {
        opacity: 1.0;
    }
    .no1 {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        top: 15px;
        left: 20px;
        letter-spacing: none;
        line-height: 25px;
        position: absolute;
    }
    .title1 {
        font-size: 22px;
        letter-spacing: 5px;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 80%;
    }
    .no2 {
        font-size: 12px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: none;
        line-height: 38px;
        position: absolute;
        margin-left: 30px;
    }
    .destinations {
        letter-spacing: 0px;
        top: 1550px;
        left: 80px;
        font-size: 16px;
    }
    .map {
        top: 1500px;
        left: 70px;
        font-size: 20px;
    }
    .location {
        top: 1500px;
        left: 210px;
        
    }
    .fa {
        font-size: 30px;
    }
    .fa-map-marker {
        color: rgb(240, 168, 168);
    }
    .fa-location-arrow {
        color: rgb(159, 159, 247);
    }
    .go {
        font-size: 18px;
    }
}


footer {
    margin-top: 1900px;
    text-align: center;
    background: rgb(30, 46, 53);
    color: white;
    height: 150px;
    line-height: 150px;
}
@media (min-width:320px) and (max-width: 425px) {
    footer {
        height: 100px;
        line-height: 100px;
        margin-top: 950px;
    }

}
